@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to My .NET Web Application</h1>
<p>This is the home page of the application.</p>

<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/site.js"></script>

<div>
    <h2>Additional Content</h2>
    <p>You can add more HTML content here.</p>
</div>