<div class="main-column">
    <div class="widget">
        <h3>Lưu lượng Thu Chi (6 tháng gần nhất)</h3>
        <div style="height: 350px;">
            <canvas id="monthlyFlowChart"></canvas>
        </div>
    </div>

    <div class="charts-container">
        <div class="widget">
            <h3>Phân bổ Chi tiêu (Tháng này)</h3>
            <div style="height: 250px;">
                <canvas id="expenseDoughnutChart"></canvas>
            </div>
        </div>

        <div class="widget recent-transactions">
            <h3>Giao dịch Gần đây</h3>
            <table>
                <thead>
                    <tr>
                        <th>Mô tả</th>
                        <th>Ngày</th>
                        <th>Loại</th>
                        <th style="text-align: right;">Số tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lương tháng 10</td>
                        <td>20/10/2025</td>
                        <td>Thu</td>
                        <td class="amount income">50.000.000</td>
                    </tr>
                    <tr>
                        <td>Tiền thuê nhà</td>
                        <td>05/10/2025</td>
                        <td>Chi</td>
                        <td class="amount expense">8.000.000</td>
                    </tr>
                    <tr>
                        <td>Ăn uống</td>
                        <td>21/10/2025</td>
                        <td>Chi</td>
                        <td class="amount expense">500.000</td>
                    </tr>
                    <tr>
                        <td>Điện nước</td>
                        <td>15/10/2025</td>
                        <td>Chi</td>
                        <td class="amount expense">1.500.000</td>
                    </tr>
                    <tr>
                        <td>Mua sắm online</td>
                        <td>18/10/2025</td>
                        <td>Chi</td>
                        <td class="amount expense">2.500.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>